/*=====================================================================================================*/

* {
	font-family: "lato", sans-serif;
	color: #1E212C;
	line-height: 160%;
	font-weight: 400;
}

[class*="__container"] {
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

/*=====================================================================================================*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	z-index: 999;
}

.header__container {
	display: flex;
	align-items: center;
	gap: 60px;
}

.header__logo {}

.header__menu {
	flex-grow: 1;
}

.header__actions {}

.menu {}

.menu__list {
	display: flex;
	column-gap: 40px;
	flex-wrap: wrap;
	row-gap: 10px;
}

.menu__item {}

.menu__link {
	font-weight: 700;
	padding: 10px 0;
}

.menu__link:hover {
	text-decoration: underline;
	color: rgb(100, 136, 0);
}

.actions-header {
	flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 36px;
	align-items: center;
}

.actions-header__button {

}

.actions-header__auth {
	background: url('../img/icons/user.svg') left no-repeat;
	padding-left: 36px;
	font-weight: 700;
	line-height: 1.25;
}

.actions-header__auth:hover span {
	text-decoration: underline;
	color: rgb(100, 136, 0);
}

/* .actions-header__auth::before { */
	/* content: ""; */
	/* background: url(../img/icons/user.svg) left no-repeat; */
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
/* } */

/* #1 */
/* PC */
@media (max-width: 1199.98px){
	[class*="__container"] {
		max-width: 970px;
	}
	.actions-header {
		display: block;
		flex-shrink: 1;
	}
	.actions-header__button {
		margin-bottom: 5px;
	}
	.actions-header__auth {
		display: block;
		/* text-align: center; */
	}
	.actions-header__auth span {
		display: block;
	}
}

/* #2 */
/* Tablet */
@media (max-width: 990.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}

/* #3 */
/* Mobile */
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: 450px;
	}
}

/* #4 */
/* Mobile Small Додатковий */
@media (max-width: 480px) {
	[class*="__container"] {
		max-width: none;
	}
}

/*=====================================================================================================*/

.page {
	
}
.page__top {
	background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.top-page {
	padding: 200px 0 80px 0;
}
.top-page__container {
	position: relative;
	z-index: 2;
}
.top-page__body {
	margin-bottom: 190px;
}
.body-top-page {
	display: flex;
}
.body-top-page__left {
}
.left-body-top-page {
}
.left-body-top-page__video-player {
	display: flex;
}
.left-body-top-page__player {
	display: inline-flex;
	position: relative;
	gap: 16px;
}
.left-body-top-page__player:not(:last-child){
	margin-bottom: 40px;
}

.left-body-top-page__player::after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: #FF3F3A;
	opacity: 0.12;
	transform: scale(1.6);
	animation:player-circle 2s infinite ease;
}
.left-body-top-page__player::before {
	content: "";
	flex: 0 0 52px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	transition: background-color 0.3s ease 0s;
	background: #FF3F3A url('../img/icons/play.svg') center no-repeat;
}

.left-body-top-page__player:hover::after {
	animation-play-state: paused;
}
.left-body-top-page__player:hover::before {
	background-color: #dd3832;
}

@keyframes player-circle {
	0% {
		transform: scale(1.6);
	}
	100% {
		opacity: 0;
		transform: scale(3);
	}
}

.left-body-top-page__text-player {
	font-weight: 700;
	font-size: 14px;
	padding: 15px 0 0 16px;
}
.left-body-top-page__headline {
	max-width: 496px;
	font-weight: 900;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 1px;
}

.left-body-top-page__headline:not(:last-child) {
	margin-bottom: 60px;
}

.left-body-top-page__actions {
	display: flex;
	align-items: center;
	gap: 24px;
}

.left-body-top-pag__actions:not(:last-child) {
	margin-bottom: 40px;
}

.left-body-top-page__button {
	/* padding-left: 24px; */
}

.body-top-page__right {
	flex: 0 1 50%;
}

.body-top-page__image {
	max-width: 107,8%;
	transform: translate(7.8%,0px);
}

.top-page__body2 {
}
.body2-top-page {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
}
.body2-top-page__item {
}
.item-body2-top-page {
	display: flex;
	align-items: center;
	gap: 12px;
}
.item-body2-top-page__number {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
}
.item-body2-top-page__paragraph {
	padding-left: 12px;
	line-height: 1.5;
}
.body2-top-page__circle {
	flex: 0 0 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #FF3F3A;
}
.top-page__decor {
}
.decor-page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.decor-page__item {
	position: absolute;
}
.decor-page__item_1 {
	background: url(../img/main/top-page/decor/01.svg);
	width: 96px;
	height: 96px;
	top: 12%;
	left: 4.3%;
}
.decor-page__item_2 {
	background: url(../img/main/top-page/decor/02.svg);
	width: 284px;
	height: 284px;
	bottom: -9.2%;
	left: -5.5%;
}
.decor-page__item_3 {
	background: url(../img/main/top-page/decor/03.svg);
	width: 88px;
	height: 47px;
	top: 45%;
	left: 40%;
}
.decor-page__item_4 {
	background: url(../img/main/top-page/decor/04.svg);
	width: 61px;
	height: 61px;
	bottom: 24%;
	left: 38%;
}
.decor-page__item_5 {
	background: url(../img/main/top-page/decor/01.svg);
	width: 110px;
	height: 110px;
	top: -1.5%;
	right: 4%;
	transform: rotate(135deg);
}
.decor-page__item_6 {
	background: url(../img/main/top-page/decor/05.svg);
	width: 187px;
	height: 137px;
	bottom: -1.5%;
	right: 4%;
}

.page__bottom {
}
.bottom-page {
	padding: 180px 0 180px 0;
}
.bottom-page__container {
	position: relative;
	z-index: 2;
}
.bottom-page__content {
}
.content-bottom-page {
	display: flex;
}
.content-bottom-page__image {
}
.content-bottom-page__block {
	padding-left: 135px;
}
.content-bottom-page__text {
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.content-bottom-page__headline {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	margin-bottom: 40px;
}
.content-bottom-page__content {
	margin-bottom: 48px;
}
.content-bottom-page__list {
}
.content-bottom-page__item {
	color: #424551;
	position: relative;
	max-width: 358px;
	padding-left: 32px;
	min-height: 30px;
}
.content-bottom-page__item::before {
	content: "";
	background: url(../img/icons/check.svg) 0 0 /100% no-repeat;
	position: absolute;
	top: 5px;
	left: 0;
	width: 16px;
	height: 16px;
}

.content-bottom-page__button {
}

.bottom-page__decor {
}
.decor-bottom-page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.decor-bottom-page__item {
	position: absolute;
	bottom: 24%;
	left: -5%;
	background: url(../img/main/bottom-page/decor/1.svg) no-repeat;
	width: 181.18px;
	height: 132.74px;
}

/* #1 */
/* PC */
@media (max-width: 1199.98px){
	[class*="__container"] {
		max-width: 970px;
	}
	.body-top-page {
		display: block;
	}
	.content-bottom-page {
		display: block;
	}
	.content-bottom-page__image {
		margin-bottom: 20px;
	}
}

/* #2 */
/* Tablet */
@media (max-width: 990.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
	.body2-top-page {
		display: block;
	}
	.item-body2-top-page {
		justify-content:center;
		align-items: center;
	}
	.body2-top-page__circle {
		display: none;
	}
}

/* #3 */
/* Mobile */
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: 450px;
	}
	.content-bottom-page__image img {
		max-width: 352.5px;
	}
}

/*=====================================================================================================*/

.footer {
	padding: 20px 0;
	background: #1E212C;
}
.footer__container {
	display: flex;
	justify-content:center;
	align-items: center;
}
.footer__copyright {
	color: #FFFFFF;
	font-weight: 700;
}

.footer__test {
	margin-left: 50%;
	opacity: 0;
}

.footer__test:hover {
	text-decoration: underline;
	color: rgb(100, 136, 0);
	opacity: 1;
}